/* General table properties */
table {
  border: 2px solid rgb(168, 168, 168);
  text-align: center;
  font-size: 14px;
  font-family: Tahoma;
  justify-content: left;
  border-collapse: collapse;
  z-index: -1;
}

/* Rows */
td {
  border: 2px solid rgb(168, 168, 168);
  background-color: #ffffff;
  width: 100%;
}

/* Header */
th {
  background-color: #cccccc;
  font-weight: bold;
  border: 2px solid rgb(168, 168, 168);
}

th:nth-child(1),
td:nth-child(1) {
  width: 20%;
  /* Software name */
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
  /* CVE ID */
}

th:nth-child(3),
td:nth-child(3) {
  width: 40%;
  /* Vulnerability type */
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
  /* CVSS Rating */
}

th:nth-child(5),
td:nth-child(5) {
  background-color: #bb2e2e;
}

.form-control2 {
  height: auto;
  width: 600px;
  column-width: 300px;
  border-radius: 0px;
  border: 1px solid #747474;
  padding: 0px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  align-content: center;
  justify-items: center;
  word-wrap: normal;
}

.btn {
  background-color: #39a04f;
  margin: 10px;
  width: auto;
  border: 10px #9920df !important;
}

.btn:hover {
  background-color: #39a04f;
  margin: 10px;
  font-size: 16px;
  scale: 1.1;
  transition: all 2s ease-in-out;
}

#table-container {
  position: relative;
  z-index: 1;
  /* Set a higher z-index value for the table container */
}

.undo-button {
  background-color: rgb(255, 255, 255);
  color: rgb(163, 4, 4);
  /* Changes the text color to white */
  border: none;
  padding: 0px;
  /* Adds padding around the text */
  cursor: pointer;
  /* Changes the cursor to a hand when hovering over the button */
  font-weight: bold;
  font-size: 14px;
  /* Changes the font size */
  box-shadow: none !important;
  height: 50px;
  width: 0px;
  position: absolute;
  right: 10px;
}

.undo-button::after {
  content: "";
  position: absolute;
  top: -10px;
  /* Increase the clickable area by 10px */
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.undo-button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(119, 0, 0);
  /* Changes the text color to white */
  border: none;
  padding: 10px;
  /* Adds padding around the text */
  cursor: pointer;
  /* Changes the cursor to a hand when hovering over the button */
  font-weight: bolder;
  font-size: 16px;
  /* Changes the font size */
  box-shadow: none !important;
  height: 50px;
  transition: all 3s ease-in-out 3s;
  right: -2px;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  left: 90%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  /* Optional: Add a semi-transparent background */
  z-index: 9999;
  transform-style: preserve-3d;
  /* Add this property for 3D transformations */
}

.loading-container {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  /* Rotate the animation 90 degrees */
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #39a04f;
  margin: 0 4px;
  animation: wave 1.5s ease-in-out infinite;
}

.dot:nth-child(2) {
  background-color: #60ca77;
  animation-delay: -1.2s;
}

.dot:nth-child(3) {
  background-color: #8be49e;
  animation-delay: -0.9s;
}

.dot:nth-child(4) {
  background-color: #aaf1b9;
  animation-delay: -0.6s;
}

@keyframes wave {
  0%,
  40%,
  100% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 0.3;
    transform: translateY(-10px);
  }
}

body {
  font-family: Tahoma;
  color: #2c2c2c;
  background-color: #e9e9e9;
}

.left-side-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  /* Adjust as needed */
  background-color: #f8f9fa;
  overflow: auto;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

#history-bar {
  margin-top: 0px;
}

#history-bar h4 {
  font-size: 20px;
  color: #343a40;
  margin-bottom: 20px;
  font-weight: 600;
}

#history-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
}

#history-list li {
  padding: 10px;
  border-bottom: 1px solid #245322;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#history-list li:hover {
  background-color: #bde9c5;
}

body #iframe-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 1000;
  overflow: hidden;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 999;
  display: none;
}

.history-query {
  font-weight: bold;
}

.history-cpe {
  font-style: italic;
}

.history-results {
  color: blue;
}

.history-date {
  font-size: smaller;
  display: block;
  text-align: right;
  color: #6e6e6e;
  margin-bottom: -10px;
}

#toggle-history-button {
  position: fixed;
  top: 3%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: #39a04f;
  color: rgb(214, 214, 214);
  border: none;
  padding: 0rem;
  font-size: 18pt;
  cursor: pointer;
  font-weight: bolder;
}

.left-side-bar {
  position: fixed;
  top: 0;
  left: -40rem;
  /* Adjust the width of the sidebar as needed */
  width: 20rem;
  /* Adjust the width of the sidebar as needed */
  height: 100%;
  background-color: #f5f5f5;
  transition: left 0.2s ease;
  z-index: 999;
  overflow-y: auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

.show-sidebar {
  left: 1%;
}
