.form-control2 {
  height: auto;
  width: 600px; /* Adjust the initial width value as desired */
  max-width: 600px; /* Adjust the maximum width value as desired */
  border-radius: 4px;
  border: 1px solid #ebebeb;
  padding: 8px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  align-content: center;
  justify-items: center;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

#append-checkbox-label {
  font-size: 0.9em;
  color: #666;
}

#append-checkbox {
  width: 13px;
  height: 13px;
  vertical-align: bottom;
}