.loading-container {
    display: flex;
    align-items: center;
}

.loading-animations {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 90%;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    /* Optional: Add a semi-transparent background */
    z-index: 9999999;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #078080;
    margin-right: 4px;
    animation: wave 1.5s ease-in-out infinite;
}

.dot:nth-child(2) {
    background-color: #078080cc;
    animation-delay: -1.2s;
}

.dot:nth-child(3) {
    background-color: #07808096;
    animation-delay: -0.9s;
}

.dot:nth-child(4) {
    background-color: #044d4d73(221, 100%, 50%, 0.376);
    animation-delay: -0.6s;
}

@keyframes wave {
    0%,
    40%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 0.3;
        transform: translateY(-10px);
    }
}